@using ShopEn.Models;
@using ShopEn.Code;
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



@section css{
    <link href="~/Content/css/payment.css" rel="stylesheet" />
}

@if (Session["cart"] != null)
{

    <main class="page payment-page">
        <section class="payment-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2>Thanh toán</h2>
                    <p>Thông tin thanh toán</p>
                </div>


                <form action="Checkout/Add" method="post">
                    <div class="products">
                        <h3 class="title">Checkout</h3>
                        @foreach (var item in ((List<Item>)Session["cart"]))
                        {
                            <div class="item">
                                <span class="price">@item.gia</span>
                                <p class="item-name">
                                    @if (item.type == TypeItem.SanPham)
                                    {
                                        Write(((ItemSP)item).sanpham.TENSP);
                                    }
                                    else
                                    {
                                        Write(((ItemCB)item).combo.TENCB);
                                    }
                                </p>
                                <span>x @item.quantity</span>
                            </div>
                        }
                        <div class="total">Total<span class="price">@ViewBag.Total</span></div>
                    </div>
                    <div class="form-group col-sm-12">
                        <button type="submit" class="btn btn-primary btn-block">Xác nhận</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

@section scripts{
        <script>
            $(document).ready(function () {

                $('.radio-group .radio').click(function () {
                    $('.radio').addClass('gray');
                    $(this).removeClass('gray');
                });

                $('.plus-minus .plus').click(function () {
                    var count = $(this).parent().prev().text();
                    $(this).parent().prev().html(Number(count) + 1);
                });

                $('.plus-minus .minus').click(function () {
                    var count = $(this).parent().prev().text();
                    $(this).parent().prev().html(Number(count) - 1);
                });
            });

        </script>
    }

}