
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="empty" class="container" style="margin-top:200px;height:300px">
    <img src="~/Content/img/xe.png" style="width:170px"/>
    <span>
        <h3>
            Mã đơn hàng của bạn là: <span style="color:blue"><u>@ViewBag.Id</u></span>
        </h3>
        <p><b>Thời gian dự kiến giao hàng là khoảng 1 ngày</b></p>
    </span>

</div>
