
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ShopEn.Models.SANPHAM>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
          @foreach (var item in Model)
          {
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="img/@item.IMAGE" alt="">
                    </div>
                    <h2><a href="/SingleProduct/Index/@item.MASP?type=SanPham">@item.TENSP</a></h2>
                    <div class="product-carousel-price">
                        @item.GIA
                    </div>

                    <div class="product-option-shop">
                        <button class="add_to_cart_button add-to-cart" data-quantity="1" data-product_sku="" data-id="@item.MASP" rel="nofollow" >Add to cart</button>
                    </div>
                </div>
            </div>
          }

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @for (int i = 0; i <= ViewBag.Page; i++)
                            {
                                <li><a href="/Shop/Index/@i">@(i+1)</a></li>
                            }

                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
         $(document).ready(function () {
             $(".add-to-cart").click(function () {
                 var id = $(this).data("id")
                 $.get("/Cart/Buy", {id:id,type:"SanPham",sl:1}, function (data) {
                     alert("Đã thêm vào giỏ hàng")
                 })
             })
         })
    </script>
}